<?php

/**
 * @var Laminas\View\Renderer\PhpRenderer $this
 */
?>
<?= $this->doctype() ?>
<html lang="en">

<head>
    <meta charset="utf-8">
    <?= $this->headTitle('Employee List')->setSeparator(' - ')->setAutoEscape(false) ?>

    <?= $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <?= $this->headLink([
        'rel' => 'shortcut icon',
        'type' => 'image/vnd.microsoft.icon',
        'href' => $this->basePath() . '/images/favicon.ico'
    ])
        ->prependStylesheet($this->basePath('css/style.css'))
        ->prependStylesheet($this->basePath('css/grid-examples.css'))
        ->prependStylesheet($this->basePath('css/examples.css'))
        ->prependStylesheet($this->basePath('css/ext-all.css')) ?>

    <!-- Scripts -->
    <?= $this->headScript() ?>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark mb-4" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="<?= $this->url('home') ?>">
                    <img src="<?= $this->basePath('images/laminas-logo.svg') ?>" alt="Laminas">
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <?= $this->content ?>
    </div>
    <?= $this->inlineScript()
        ->prependFile($this->basePath('js/employee.js'))
        ->prependFile($this->basePath('js/ext-all.js'))
        ->prependFile($this->basePath('js/ext-base.js')) ?>
</body>

</html>
